---
layout: default
title: Home
---

<h2 class="col-header">Writings</h2>

{% for post in site.posts %}
<div class="post-item">
    <a href="{{ post.url | relative_url }}" class="post-title">
        {{ post.title }}
    </a>
    
    <span class="post-meta">
        {{ post.date | date: "%Y-%m-%d" }}
        {% if post.tags.size > 0 %} | {{ post.tags | join: ', ' }} {% endif %}
    </span>

    <div class="post-excerpt">
        {{ post.excerpt | strip_html | truncate: 80 }}
    </div>
</div>
{% endfor %}